.contact-links{
    background-color: #222832;
    padding: 5rem 1.5rem;
}
.logo-1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
.logo-1 img{
    max-width: 130px;
    width: 100%;
    height: 100%;
    padding-bottom: 0.2rem;
}
.logo-1 span{
    color: rgb(119, 178, 220);
}
.footer-links{
    padding: 3rem 8rem 0rem 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer-links .social-links{
    display: flex;
    padding-right: 1rem;
    list-style-type: none;
    order: 1;
}
.footer-links .social-links li{
    display: inline;
    list-style-type: none;
    margin: 0rem 1.4rem;
}
.footer-links .social-links li a{
    display: inline;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(119, 178, 220);
    text-transform: capitalize;
}
.footer-links .social-links li a:hover{
    color: #d4d8dd;
    text-transform: capitalize;
}

.footer-menu{
    order: 2;
}

.footer-menu ul{
    display: flex;
    padding-left: 1rem;
    list-style-type: none;
}
.footer-menu ul li{
    display: inline;
    list-style-type: none;
    margin: 0rem 1.4rem;
}
.footer-menu ul li a{
    display: inline;
    text-decoration: none;
    color: #d4d8dd;
    font-size: 1.1rem;
    text-transform: capitalize;

}
.footer-menu ul li a:hover{
    color: rgb(119, 178, 220);
}


@media screen and (max-width:768px){
    .footer-links{
        padding: 3rem 7rem 0rem 7rem;
    }
    .footer-links .social-links{
        order: 2;
    }
    .footer-links .social-links li{
        margin: 0.7rem;
    }
    .footer-links .social-links li a{
        font-size: 1.8rem;
    }
    .footer-menu{
        order: 1;
    }
    .footer-menu ul li{
        margin: 1rem 0.7rem;
    }
}


@media screen and (max-width:550px){
    .footer-links{
        flex-direction: column;
        justify-content: center;
        padding: 3rem 8rem 0rem 8rem;
    }
    .footer-links .social-links li{
        margin: 1rem;
    }
    .footer-links .social-links li a{
        font-size: 2rem;
    }
    .footer-menu ul li{
        margin: 1rem 0.7rem;
    }
}
