.skill{
    background: #d4d8dd;
    padding: 4rem 3.5rem;
    display: flex;
    flex-direction: column;
}
.skill h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.skill-wrapper{
    padding-top: 2rem;
    display: flex;

    justify-content: space-between;
}
.skill-wrapper img{
    width: 80px;
    height: auto;
}

@media screen and (max-width:768px){
    .skill-wrapper{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }

}
@media screen and (max-width:500px){
    .skill-wrapper{
        display: grid;
        gap: 1.6rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .skill-wrapper img{
        width: 60px;
    }
    .skill h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:425px){
    .skill-wrapper img{

    }

}
