.contact{
    background: #fdf3f2;
    padding: 6rem 1.5rem;
}
.contact-card{
    background: rgb(41 39 39);
    margin: auto;
    color: #fff;
    padding: 3rem;
    max-width: 700px;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}
.contact-card p{
    font-size: 2.5rem;
    font-weight: 700;
}
.contact-card p:nth-child(2){
    margin-bottom: 4rem;
}
.contact-button{
    height: 60px;
    width: 280px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    border-width: 0rem;
}
.contact-button:hover{
    background-color: rgb(119, 178, 220);
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 4px 5px #787878;
    color: #fff;
}
@media screen and (max-width:600px){
    .contact-card p{
        font-weight: 500;
        font-size: 2rem;
        text-align: justify;
    }
    .contact-button{
        width: 240px;
    }
}
@media screen and (max-width:496px){
    .contact-card{
        padding: 3rem 1.8rem;
    }
    .contact-card p{
        font-weight: 600;
        font-size: 1.5rem;
        text-align: justify;
    }
    .contact-button{
        width: 240px;
    }
}